server:
  port: 8083
  
spring:  application:    name: API_GATEWAY
      cloud:    gateway:      routes:      - id: SELLER-SERVICE
        uri:          lb://SELLER-SERVICE
        predicates:        - Path=/seller/**
      - id: BUYER-SERVICE
        uri:
          lb://BUYER-SERVICE
        predicates:
        - Path=/buyer/**
 
eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka
      
  instance:    prefer-ip-address: true